body {
  font-family: "Tritong", serif;
  line-height: 1.5;
}
body>* {
  max-width: 40em;
	margin: 0 auto;
}
a, a:link, a:visited {
	color: #08c;
}
a:hover {
	color: #0bf;
}
a:active {
	color: #046;
}
h1.title a {
	text-decoration: none;
}
h2.title a {
	color: #000;
	text-decoration: none;
}
hr {
	border: none;
	border-top: 1px solid #ccc;
}
footer {
	color: #888;
	padding: 1em;
	margin: 2em auto 0;
	background: #eee;
	font-style: italic;
	box-sizing: border-box;
}
